/**
 * @version		$Id: $
 * @author		JoomlaUX
 * @package		Joomla!
 * $subpackage	mod_jux_accordion_menu
 * @copyright	Copyright (C) 2013 JoomlaUX. All rights reserved.
 * @license		GNU/GPL http://www.gnu.org/licenses/gpl-3.0.html, see LICENSE.txt
 * This file may not be redistributed in whole or significant part.
 */
 
p.level2 {
    padding-left:30px;
}

#jux_accord-menu {
	margin:0;
	padding:0;
	text-align: left;
}

#jux_accord-menu ul {
	margin:0;
	padding:0;
}

#jux_accord-menu p{
	margin: 0;
	padding: 0;
}
div.menu_list {	
	font-size:12px;
	list-style:none;
	font-weight:bold;
}

#jux_accord-menu .menu_head {
	cursor: pointer;
	position: relative;
	background-position:100% 0;
	background-repeat:no-repeat;
	/*height:32px;*/
	line-height:32px;
	padding:0 8px 0 8px;
	position:relative;
	margin:0;
}

#jux_accord-menu span.menu-image{
	background-position: left center;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
	padding-left: 23px;
}

#jux_accord-menu span.menu-title {
	display: block;
}

#jux_accord-menu .menu_head.active:hover,
#jux_accord-menu .menu_head:hover {
/*	background-position:100% -32px;*/
    color: #3e5706;
    text-shadow: 1px 1px 1px rgba(255,255,255, .2); 
   /* background: #a5cd4e;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);*/
    background: rgb(136, 134, 255);
}

#jux_accord-menu .menu_head.active:hover > span,
#jux_accord-menu .menu_head:hover > span{
/*    background-position:100% -32px;*/
    color: #3e5706;
}

#jux_accord-menu .menu_head.active {
	background-position:100% -64px;
}

#jux_accord-menu .menu_head span,
#jux_accord-menu .menu_head a {
	text-decoration:none;
	display:block;
}

/******* SUB MENU STLE ********/

#jux_accord-menu div.menu_body {
	display:none;
}

#jux_accord-menu div.menu_body p {
	margin:0;
	padding:0;
	display:block;
	list-style:none;
	background:#3b568c;
	line-height: 32px;
	height: auto;
	padding: 0 8px 0 20px;
    
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#jux_accord-menu div.menu_body p:hover {
    padding-left: 30px;
}

#jux_accord-menu div.menu_body div.menu_body p {
    
    padding: 0 8px 0 30px;
     -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#jux_accord-menu div.menu_body div.menu_body p:hover {
    
    padding: 0 8px 0 40px;
}

#jux_accord-menu div.menu_body div.menu_body div.menu_body p {
    padding: 0 8px 0 40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#jux_accord-menu div.menu_body div.menu_body div.menu_body p:hover {
    padding: 0 8px 0 50px;
}

#jux_accord-menu div.menu_body div.menu_body div.menu_body div.menu_body p {
    padding: 0 8px 0 50px;
     -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#jux_accord-menu div.menu_body div.menu_body div.menu_body div.menu_body p:hover {
    padding: 0 8px 0 60px;
}

#jux_accord-menu div.menu_body div.menu_body div.menu_body div.menu_body div.menu_body p {
    padding: 0 8px 0 60px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#jux_accord-menu div.menu_body div.menu_body div.menu_body div.menu_body div.menu_body p:hover {
    padding: 0 8px 0 70px;
}

#jux_accord-menu div.menu_body p span span, 
#jux_accord-menu div.menu_body p a span{
	display:block;
	text-decoration:none;
/*	padding:0 0 0 10px;*/
	line-height: 32px;
	font-weight:normal;
}

/* IE6 AND IE7 hacking */
#jux_accord-menu div.menu_body p span span, 
#jux_accord-menu div.menu_body p a span {
	/*
	*height: 22px;
	*/
}

#jux_accord-menu div.menu_body p a:hover {
	/* background: #d5e5c1; */
}

#jux_accord-menu div.menu_body p a.sub_active {
	/*color:#990000; */
	font-weight:bold;
}

#jux_accord-menu div.menu_body ul {
	margin:0;
	padding:0;
	list-style:none;
}

#jux_accord-menu div.menu_body div.menu_body {
	width: 100%;
}

/* for level 3 */
#jux_accord-menu div.menu_body div.menu_body span span,
#jux_accord-menu div.menu_body div.menu_body a span,
#jux_accord-menu div.menu_body ul p span span,
#jux_accord-menu div.menu_body ul p a span{
/*	padding-left:20px;*/
}

/*for Level 4 */
#jux_accord-menu div.menu_body div.menu_body span span,
#jux_accord-menu div.menu_body div.menu_body a span,
#jux_accord-menu div.menu_body ul ul p span span,
#jux_accord-menu div.menu_body ul ul p a span{
/*	padding-left:30px;*/
}

/*for Level 5 */
#jux_accord-menu div.menu_body div.menu_body div.menu_body span span,
#jux_accord-menu div.menu_body div.menu_body div.menu_body a span,
#jux_accord-menu div.menu_body ul ul ul p span span,
#jux_accord-menu div.menu_body ul ul ul p a span{
/*	padding-left:40px;*/
}

/*for Level 6 */
#jux_accord-menu div.menu_body div.menu_body div.menu_body div.menu_body  span span,
#jux_accord-menu div.menu_body div.menu_body div.menu_body div.menu_body  a span,
#jux_accord-menu div.menu_body ul ul ul ul p span span,
#jux_accord-menu div.menu_body ul ul ul ul p a span{
/*	padding-left:50px;*/
}


/* CUSTOM */

#jux_accord-menu div ul {
padding: 0 0 0 2px;
}

#jux_accord-menu .menu_head {
    /*background-image:url(../images/menu-green_bg.gif);*/
/*    background: #6c6e74;
    background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
    background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);*/
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#6c6ab2),color-stop(1,#6c6ab2));
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    color:#fff;
}

#jux_accord-menu .menu_head a span,
#jux_accord-menu .menu_head span span {
/*    color:#26370A;*/
    color: #fff;
}

#jux_accord-menu .menu_head.active{
/*    color:#6F3700;*/
    color: #4e5706;
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
    background: rgb(136, 134, 255);
    /*background: rgb(224, 222, 223);
    background: no-repeat;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);*/
}
#jux_accord-menu .active:hover, 
#jux_accord-menu .active span:hover {
/*    color:#6F3700;*/
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
    /*background: #a5cd4e;*/
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));*/
    /*background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);*/
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}

#jux_accord-menu div.menu_body p {
/*    border-left:10px double #A1C67B;*/
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);

    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

#jux_accord-menu div.menu_body p:hover, 
#jux_accord-menu div.menu_body p.active:hover 
{
/*    border-left:10px double #A1C67B;*/
    
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);

    background: #efefef;
    /*background:#35325B;*/
    border-bottom: 1px solid #c9c9c9;

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}



#jux_accord-menu div.menu_body p a span,
#jux_accord-menu div.menu_body p span span {
    color:#000;
/*    border-bottom:1px solid #A1C67B;*/
}

#jux_accord-menu div.menu_body p.active span,
#jux_accord-menu div.menu_body span:hover,
#jux_accord-menu div.menu_body a:hover {
/*    background: #efefef;*/
}

#jux_accord-menu div.menu_body p.active,
#jux_accord-menu div.menu_body:hover,
#jux_accord-menu div.menu_body .active span:hover,
#jux_accord-menu div.menu_body:hover {
    /*background: #efefef;*/
    /*background: rgb(136, 134, 255);*/

}

#jux_accord-menu div.menu_body p.havesubchild span span,
#jux_accord-menu div.menu_body p.havesubchild a span {
/*    background:url(../images/green_arrow.png) 95% center no-repeat;*/
}

#jux_accord-menu .menu_head > a:hover > span {
/*    color: #3e5706;*/
    background-repeat: no-repeat;
    background-position: left center;
}

#jux_accord-menu .menu_head > a.active > span {
/*    color: #3e5706;*/
    background-repeat: no-repeat !important;
    background-position: left center !important;
}

#jux_accord-menu .menu_head > a > span.menu-image:hover {
/*    color: #3e5706;*/
    background-repeat: no-repeat !important;
    background-position: left center !important;
} 

#jux_accord-menu p.havechild a,
#jux_accord-menu .menu_body .havesubchild a,
#jux_accord-menu p.havechild a:hover,
#jux_accord-menu p.havechild a span.menu-title:hover,
#jux_accord-menu .menu_body .havesubchild a span.menu-title:hover
 {  
    background-image: url("../images/arrow.png");
    background-position: right center !important;
    background-repeat: no-repeat;
}   

#jux_accord-menu p.havechild.active a,
#jux_accord-menu .menu_body p.havesubchild.active a,
#jux_accord-menu p.havechild.active a span.menu-title:hover,
#jux_accord-menu .menu_body .havesubchild.active a span.menu-title:hover
 {
    
    background-image: url("../images/arrow1.png");
    background-position: right center;
    background-repeat: no-repeat;
}