.navbarFilter select,
.address_block select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (min-width: 576px) {
    .product_plus {
        width: 2rem;
    }

    .product_minus {
        width: 2rem;
    }

    .quantityPlusMinus {
        width: 2rem !important;
        text-align: center !important;
    }
}


@media (min-width: 768px) {
    .product_plus {
        width: 2rem;
    }

    .product_minus {
        width: 2rem;
    }

    .quantityPlusMinus {
        width: 2rem !important;
        text-align: center !important;
    }
}

 /*Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {
    
}

/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .product_plus {
        width: 1rem;
    }

    .product_minus {
        width: 1rem;
    }

    .quantityPlusMinus {
        width: 1rem !important;
        text-align: center !important;
    }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
    .product_plus {
        width: 1rem;
    }

    .product_minus {
        width: 1rem;
    }

    .quantityPlusMinus {
        width: 1rem !important;
        text-align: center !important;
    }

}

@media (min-width: 1200px) and (max-width: 1299.98px) {
    .product_plus {
        width: 2rem;
    }

    .product_minus {
        width: 2rem;
    }

    .quantityPlusMinus {
        width: 4rem !important;
        text-align: center !important;
    }
}

@media (min-width: 1300px) and (max-width: 1899.98px) {
    .product_plus {
        width: 2rem;
    }

    .product_minus {
        width: 2rem;
    }

    .quantityPlusMinus {
        width: 5rem !important;
        text-align: center !important;
    }
}

@media (min-width: 1900px) {
    .product_plus {
        width: 3rem;
    }

    .product_minus {
        width: 3rem;
    }

    .quantityPlusMinus {
        width: 5rem !important;
        text-align: center !important;
    }
}
    /* Number                   */
    .choice {
        position: relative;
        display: table;
    }

    .choice>input {
        padding: 2px 2px 2px 4px;
        font-size: 30px;
        height: 37px;
        float: left;
        border: 1px solid #666;
        border-radius: 4px 0 0 4px;
    }

    .choice>span {
        background-color: #fafafa;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), transparent);
        border: 1px solid #666;
        cursor: pointer;
        display: block;
        font-size: 16px;
        height: 19px;
        right: -19px;
        line-height: 12px;
        margin: 0;
        padding: 2px;
        position: absolute;
        text-align: center;
        width: 20px;
    }

    .choice>span.minus {
        top: 18px;
    }

    .choice>span:hover {
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
        transition: all 0.2s ease;
    }

    /****************************/
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .clear {
        clear: both;
    }

    #primer {
        margin: 3px;
    }

    #primer input {
        width: 42px;
    }