/**
 * @version		$Id$
 * @author		JoomlaUX!
 * @package		Joomla.Site
 * @subpackage	mod_jux_megamenu
 * @copyright	Copyright (C) 2008 - 2013 by JoomlaUX. All rights reserved.
 * @license		http://www.gnu.org/licenses/gpl.html GNU/GPL version 3
*/

#js-mainnav.megamenu.white {
    background-color: #ffffff; /* you can change/delete the transparent gradient image or the background color */
	background-image: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(76,76,76,0.25);
	font-size: 0;
	line-height: 0;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#js-mainnav.megamenu.white #js-megaMenuToggle {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/* lv - 0
-----------------------------------*/
/* Styling ---*/
#js-mainnav.megamenu.white ul.level0 li.mega {
	padding: 1px;
	border-right: 1px solid #d9d9d9;
	text-align: left;
	background: #ffffff;
	font-size: 13px;
}

#js-mainnav.megamenu.white ul.level0 li.first {
	border-radius: 5px 0 0 5px;
}

#js-mainnav.megamenu.white ul.level0 li.mega.right {
	border-radius: 0 5px 5px 0;
}

#js-mainnav.megamenu.white ul.level0 li:hover,
#js-mainnav.megamenu.white ul.level0 li.active,
#js-mainnav.megamenu.white ul.level0 li.over, 
#js-mainnav.megamenu.white ul.level0 li.haschild-over { 
	background: #f2f2f2;
}

#js-mainnav.megamenu.white ul.level0 li.mega span.mega,
#js-mainnav.megamenu.white ul.level0 li.mega a.mega,
#js-mainnav.megamenu.white .megaMenuToggle {
	color: #a6a6a6;
	position: relative;
/*	display: block; */
	padding: 12px 8px;
	text-decoration: none;
}

#js-mainnav.megamenu.white ul.level0 li.mega div.group-title span.mega,
#js-mainnav.megamenu.white ul.level0 li.mega div.group-title a.mega {
	padding: 0;
}

#js-mainnav.megamenu.white ul.level0 li.mega div.group span.mega,
#js-mainnav.megamenu.white ul.level0 li.mega div.group a.mega {
	padding: 5px;
}

#js-mainnav.megamenu.white ul.level0 li.mega div.group span.haschild.mega,
#js-mainnav.megamenu.white ul.level0 li.mega div.group a.haschild.mega {
	padding-right: 22px;
}

#js-mainnav.megamenu.white ul.level0 li.haschild a.mega span.menu-desc,
#js-mainnav.megamenu.white ul.level0 li.haschild-over a.mega span.menu-desc {
	padding-left: 0;
}

#js-mainnav.megamenu.white ul.level0 li.mega:hover > span.mega,
#js-mainnav.megamenu.white ul.level0 li.mega a.over,
#js-mainnav.megamenu.white ul.level0 li.mega:hover > a {
	color: #2b82d9;
}

#js-mainnav.megamenu.white ul.level0 li.mega span.mega.haschild,
#js-mainnav.megamenu.white ul.level0 li.mega a.mega.haschild {
	padding-right: 22px;
}

/* remove default arrow */
#js-mainnav.megamenu.white ul.level0 li.haschild a.mega span.menu-title,
#js-mainnav.megamenu.white ul.level0 li.haschild-over a.mega span.menu-title {
	background-image: none;
	padding: 0;
}

#js-mainnav.megamenu.white ul.level0 li.mega > span.mega.haschild:after,
#js-mainnav.megamenu.white ul.level0 li.mega > a.haschild:after {
	content: '';
	position: absolute;
	top: 50% !important;
	right: 12px;
	width: 0;
	height: 0;
	margin-top: -1px !important;
	border-top: 4px solid #a6a6a6;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
}

#js-mainnav.megamenu.white.noJS ul.level0 li.mega.haschild:hover > span.mega:after,
#js-mainnav.megamenu.white ul.level0 li.mega > span.mega.haschild.over:after,
#js-mainnav.megamenu.white.noJS ul.level0 li.mega.haschild:hover > a:after,
#js-mainnav.megamenu.white ul.level0 li.mega > a.haschild.over:after {
	border-top-color: #2b82d9 !important;
}

/* Layout ---*/
#js-mainnav.megamenu.white ul.level1 li.mega {
	border-radius: 5px;
	border: 0 none;
}

#js-mainnav.megamenu.white ul.level1 li.mega span.mega,
#js-mainnav.megamenu.white ul.level1 li.mega a.mega {
	border: 0;
}

#js-mainnav.megamenu.white ul.level1 li.mega a.mega span.menu-title {
	background: none;
	padding: 0;
}

#js-mainnav.megamenu.white ul.level1 li:hover,
#js-mainnav.megamenu.white ul.level1 li.over,
#js-mainnav.megamenu.white ul.level1 li.haschild-over { background: #f2f2f2; }

/* CHILD CONTENT
-----------------------------------*/

#js-mainnav.megamenu.white .childcontent-inner {
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 6px rgba(76,76,76,0.25);
	background-color: #fff;
	left: -1px;
	top: 1px;
	position: relative;
}

#js-mainnav.megamenu.white ul.level1 .childcontent-inner {
	border-radius: 5px;
}
#js-mainnav.megamenu.white .childcontent-inner .group ul li.active {

}

#js-mainnav.megamenu.white .childcontent .group h3 {
	background: none;
	color: #2b82d9;
	border-bottom: 1px dotted #006699;
}

#js-mainnav.megamenu.white .childcontent .js-moduletable a {
	border-bottom: 1px dotted #ccc;
}

#js-mainnav.megamenu.white .childcontent .moduletable { color: #2b82d9; }

#js-mainnav.megamenu.white .childcontent .js-moduletable a:hover,
#js-mainnav.megamenu.white .childcontent .js-moduletable a:focus,
#js-mainnav.megamenu.white .childcontent .js-moduletable a:active {
	color: #2b82d9;
	text-decoration: none;
}

/* Grouped --- */
#js-mainnav.megamenu.white .group-content .menu-title,
#js-mainnav.megamenu.white .group-title .menu-title {
	color: #2b82d9;
	line-height: 170%;
}

#js-mainnav.megamenu.white .group-content .menu-desc,
#js-mainnav.megamenu.white .group-title .menu-desc {
	color: #999;
	line-height: 150%;
	padding: 0;
}

#js-mainnav.megamenu.white .group-content ul.megamenu {
	margin: 5px;
}

/* Big image left-right style */
#js-mainnav.megamenu.white .big-img-left a,
#js-mainnav.megamenu.white .big-img-right a {
	line-height: 120% !important;
	padding: 0 !important;
}

#js-mainnav.megamenu.white li.big-img-left,
#js-mainnav.megamenu.white li.big-img-right {
	display: inline-table;
	padding: 7px !important;
}

#js-mainnav.megamenu.white .big-img-left img {
	margin-bottom: 2px;
}

#js-mainnav.megamenu.white .big-img-right img {
	margin-bottom: 2px;
}

#js-mainnav.megamenu.white form {
	margin: 12px;
}

/* ========================================== */
/*	RESPONSIVE STYLES 						  */
/* ========================================== */
/* Toggle */
#js-mainnav.megamenu.white .megaMenuToggle {
	color: #000 !important;
	line-height: 100%;
	font-weight: bold;
}

#js-mainnav.megamenu.white.noJS #css3-ToggleResponsive .megaMenuToggle-icon,
#js-mainnav.megamenu.white #js-megaMenuToggle .megaMenuToggle-icon {
	background: #000 !important;
}

#js-mainnav.megamenu.white.noJS #css3-ToggleResponsive .megaMenuToggle-icon:before,
#js-mainnav.megamenu.white #js-megaMenuToggle .megaMenuToggle-icon:before {
	background: #000 !important;
}

#js-mainnav.megamenu.white.noJS #css3-ToggleResponsive .megaMenuToggle-icon:after,
#js-mainnav.megamenu.white #js-megaMenuToggle .megaMenuToggle-icon:after {
	background: #000 !important;
}

#js-mainnav.megamenu.white ul.level0 li.haschild span.mega {
	background-image: none !important;
}

#js-mainnav.megamenu.white ul.level0 li.haschild-over span.mega {
	background: none !important;
}

@media screen and (max-width: 767px) {
	#js-mainnav.megamenu.noJS ul.megamenu li {
		padding: 0 !important;
	}
	#js-mainnav.megamenu.noJS ul.megamenu li a {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		line-height: 100% !important;
	}
}