#basket_store{
	position: relative;
	width: 100px;
	padding: 10px;
}
#basket_store a{
	text-decoration: none;
}
.basket_icon{
	display: block;
	height: 38px;
	width: 54px;
	padding: 12px 0 0 10px;
	background:url(/modules/mod_multi_basket_ajax/img/basket_ajax.png);
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
}
.basket_icon:hover{
	background-position: bottom;
	color: #FFF;
}
.basket_icon:hover+.basket_content{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.basket_content:hover{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.basket_content{
	visibility: hidden;
	opacity: 0;
	width: 370px;
	position: absolute;
	z-index: 12;
	top: 55px;
	right: 100px;
	-webkit-transition: visibility 0.1s, opacity 0.5s, right ease-out 0.6s;
	transition: visibility 0.1s, opacity 0.5s, right ease-out 0.6s;
}
.basket_list{
	margin: 5px;
	padding: 10px 5px;
	line-height: 1.2;
	background-color: #FFF;
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.basket_rows{
	max-height: 430px;
	overflow-y: auto;
	padding: 0 10px;
}
.basket_row{
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}
.basket_row:last-child{
	border: none;
}
.basket_img{
	float: left;
	display: block;
	width: 100px;
	text-align: center;
}
.basket_img img{
	max-height: 70px;
	max-width: 90px;
}
.basket_name{
	padding: 5px 0 2px;
	font-size: 16px;
}
.basket_attr{
	padding-top: 4px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.basket_value{
	clear: both;
}
a.basket_del{
	vertical-align: middle;
	margin-right: 10px;
	font-size: 16px;
	color: #999;
}
a.basket_del:hover{
	color: #666;
}
.basket_minus,
.basket_plus{
	vertical-align: middle;
	cursor: pointer;
	font-size: 24px;
	color: #999;
}
.basket_minus:hover,
.basket_plus:hover {
	color: #666;
}
input.basket_inputbox{
	height: 16px;
	width: 28px;
	margin: 2px;
	padding: 0;
	vertical-align: middle;
	outline: medium none;
	border: 1px inset #999;
	outline: none;
	border-radius: 2px;
	font-size: 13px;
	text-align: center;
}
.basket_price{
	float: right;
	padding-top: 6px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.basket_price em{
	margin-right: 10px;
	font-size: 16px;
	font-style: normal;
}
.basket_total{
	position: relative;
	margin-top: 2px;
	border-top: 1px solid #999;
	padding: 15px 0 5px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
.basket_incart{
	display: block;
	width: 80%;
	margin: 10px auto 20px;
	padding: 4px 0;
	background: #393;
	background: -webkit-linear-gradient(top,#393,#6C6);
	background: linear-gradient(to bottom,#393,#6C6);
	border: 1px solid #363;
	border-radius: 4px;
	box-shadow: 0 0 6px -2px rgba(0,0,0,0.5);
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
	text-align: center;
	font-size: 22px;
	color: #FFF;
}
.basket_incart:hover{
	background: #363;
	background: -webkit-linear-gradient(top,#393,#3C3);
	background: linear-gradient(to bottom,#393,#3C3);
	box-shadow: 0 0 3px -2px rgba(0,0,0,0.5);
	color: #FFF;
}
.in_cart_list{
	display: inline-block;
	position: relative;
	padding-top: 8px;
	white-space: nowrap;
}
.item_list_added{
	position: absolute;
	top: 5px;
	left: -7px;
	background-color: #3C3;
	padding: 3px 7px;
	border-radius: 3px;
	color: #FFF;
}
.in_cart_pro{
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 5px 10px;
	border: 1px solid #3C3;
	border-radius: 3px;
	white-space: nowrap;
	font-size: 16px;
	color: #393;
}
.item_pro_added{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #3C3;
	padding: 5px 10px;
	border-radius: 3px;
	color: #FFF;
}
.basket_load{
	position: absolute;
	top: 14px;
	left: 45px;
	width: 256px;
	height: 24px;
	background: url(/modules/mod_multi_basket_ajax/img/basket_load.gif) no-repeat transparent;
	opacity: 0.6;
}
.basket_load_ajax{
	position: fixed;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/modules/mod_multi_basket_ajax/img/basket_load_ajax.gif) no-repeat center center;
	background-color: #FFF;
	opacity: 0.3;
}
.no_display{
	display: none;
}