/*===============================
 time:1588096329
================================================================================*/
#jux_memamenu100 #js-mainnav.megamenu .js-megamenu.dropdown-menucssjs-meganav{display:block!important}@media screen and (max-width: 768px){#jux_memamenu100 #js-mainnav.megamenu.horizontal ul.level1 li.submenu-align-right a.haschild.megacss span.menu-title,#jux_memamenu100 #js-mainnav.megamenu.horizontal ul.level1 li.submenu-align-right a.haschild-over.megacss span.menu-title{margin-left:0px}#jux_memamenu100  #js-mainnav .jux-fa.jux-fa-bars{font-size:30px;float:left;color:#FFF;margin-top:-6px;margin-left:4px}#jux_memamenu100  #js-mainnav.megamenu.vertical.right .js-megamenu ul.level0 li.megacss
.childcontent{margin-left:0% !important}#jux_memamenu100  #js-mainnav ul.megamenu li.haschild.megacss:hover>div.childcontent.adddropdown, #jux_memamenu100  .childcontent.open>.dropdown-menu{-moz-animation:none!important;-webkit-animation:none!important;animation:none!important}#jux_memamenu100  #js-mainnav .js-megamenu  .childcontent-inner-wrap.dropdown-menu{display:none}#jux_memamenu100  #js-mainnav .js-megamenu .open .childcontent-inner-wrap.dropdown-menu{display:block;background:#f9f9f9}#jux_memamenu100  #js-mainnav.megamenu .js-megamenu{display:none}#jux_memamenu100  #js-mainnav.megamenu
div.megaMenuToggle{display:block;height:15px;cursor:pointer;box-sizing:content-box}#jux_memamenu100  #js-mainnav.megamenu.noJS ul.megamenu li.haschild>div.childcontent{display:block!important}#jux_memamenu100  #js-mainnav.megamenu.noJS ul.megamenu
li{box-shadow:none !important}#jux_memamenu100  #js-mainnav.horizontal ul.level0 li.megacss.submenu-align-center>.childcontent{left:0%!important}#jux_memamenu100  #js-mainnav.noJS.up ul.megamenu li.haschild>div.childcontent{position:static}#jux_memamenu100  #js-mainnav.horizontal ul.level0 li.megacss.submenu-align-left > .childcontent, #jux_memamenu100 #js-mainnav.megamenu.vertical.left .js-megamenu ul.level0 li.megacss .childcontent, #jux_memamenu100 #megamenucss   #js-mainnav.noJS ul.megamenu li.haschild>div.childcontent{top:0px !important;left:0px !important;bottom:0px !important;right:0px !important}#jux_memamenu100  #js-mainnav.megamenu.vertical.left .js-megamenu ul.level0 li.megacss
.childcontent{margin-left:0% !important;margin-top:-32px}#jux_memamenu100  #js-mainnav.megamenu.horizontal{border-radius:0px !important}#jux_memamenu100  .megamenu ul.level0 li.megacss
a.megacss{border:none !important}#jux_memamenu100  #js-mainnav.megamenu ul.level1 li.megacss span.megacss, #jux_memamenu100 #js-mainnav.megamenu ul.level1 li.megacss
a.megacss{border:none !important}#jux_memamenu100  #js-mainnav.horizontal ul.level1 li.megacss.submenu-align-right>.childcontent{right:0% !important}#jux_memamenu100  #js-mainnav.horizontal ul.level0 li.megacss.submenu-align-center>.childcontent{left:0%}#jux_memamenu100  #js-mainnav
ul.level0{border:none !important}#jux_memamenu100  .group-title{margin-left:-25px}#jux_memamenu100  #js-mainnav.megamenu #arrow-icon{display:block}#jux_memamenu100  .dropdown-menu{position:inherit;top:-6px;left:0;z-index:1000;display:none;float:left;min-width:100%;padding:0;margin:0;list-style:none;background-color:#fff;border:none;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}#jux_memamenu100  #js-mainnav ul.megamenu li.haschild.megacss>div.childcontent{opacity:1;visibility:visible;display:block}#jux_memamenu100  #arrow-icon{position:absolute;font-size:25px;text-decoration:none;right:-2px;margin-top:-44px;color:#fff;padding:10px
30px;z-index:9999999;cursor:pointer}#jux_memamenu100  #js-mainnav.megamenu .open>.dropdown-menu{display:block !important}#jux_memamenu100  ul li ul li div.dropdown-menucss{display:block}#jux_memamenu100  #js-mainnav.megamenu ul li ul li #arrow-icon{display:none}#jux_memamenu100  #js-mainnav.megamenu{border:1px
solid #6c5a5a}#jux_memamenu100  #js-mainnav.megamenu ul.level1 li.megacss
a{padding:10px
8px 10px 8px!important}#jux_memamenu100  .group-title{padding-left:10px!important}}@media screen and (max-width: 480px){#jux_memamenu100 #js-mainnav.megamenu .childcontent-inner-wrap{margin:-2px 0px 6px 0px !important}#jux_memamenu100  #js-mainnav.megamenu #arrow-icon{padding:5px
10px!important}#jux_memamenu100
a{text-decoration:none}}#jux_memamenu100   #js-mainnav .js-megamenu{display:block}@media screen and (max-width: 768px){#jux_memamenu100  .megamenu-sticky{text-align:left}#jux_memamenu100  #js-mainnav.megamenu.noJS #css3-megaMenuToggle,#jux_memamenu100  #js-mainnav.megamenu #js-megaMenuToggle{display:block;padding:12px
15px;cursor:pointer;font-size:10px;text-transform:uppercase;text-align:left}#jux_memamenu100  #js-mainnav.megamenu #js-megaMenuToggle{display:block !important}#jux_memamenu100  #js-mainnav.megamenu.noJS #css3-megaMenuToggle .megaMenuToggle-icon, #jux_memamenu100 #js-mainnav.megamenu #js-megaMenuToggle .megaMenuToggle-icon{display:inline-block;background:rgba(230, 230, 230, 0.7);height:2px;width:16px;position:relative;float:right;margin-top:10px;text-align:left}#jux_memamenu100  #js-mainnav.megamenu{width:100% !important;overflow:hidden}#jux_memamenu100  #js-mainnav.megamenu
ul.level0{float:none !important;font-size:12px}#jux_memamenu100  #js-mainnav.megamenu ul.level0
li.megacss{float:none !important;position:relative;background-image:none !important}#jux_memamenu100  #js-mainnav.megamenu ul.megamenu li.megacss a.megacss span.menu-desc{display:none}#jux_memamenu100  #js-mainnav.megamenu ul.level1 li.megacss span.megacss, #jux_memamenu100 #js-mainnav.megamenu ul.level1 li.megacss
a.megacss{padding-left:20px !important}#jux_memamenu100  #js-mainnav.megamenu ul.level2 li.megacss span.megacss, #jux_memamenu100 #js-mainnav.megamenu ul.level2 li.megacss
a.megacss{padding-left:45px !important}#jux_memamenu100  #js-mainnav.megamenu ul.level3 li.megacss span.megacss, #jux_memamenu100 #js-mainnav.megamenu ul.level3 li.megacss
a.megacss{padding-left:70px !important}#jux_memamenu100  #js-mainnav.megamenu ul.level4 li.megacss span.megacss,   #jux_memamenu100 #js-mainnav.megamenu ul.level4 li.megacss
a.megacss{padding-left:90px !important}#jux_memamenu100  #js-mainnav.megamenu ul.level0 li.megacss span.megacss,#jux_memamenu100 #js-mainnav.megamenu ul.level0 li.megacss
a.megacss{padding:15px
10px}#jux_memamenu100  #js-mainnav.megamenu .js-megamenu{font-size:12px}#jux_memamenu100  #js-mainnav.megamenu.megamenu.vertical.right ul.level0 li.megacss
a.megacss{text-align:left !important}#jux_memamenu100  #js-mainnav.megamenu.megamenu.vertical.right .js-megamenu ul.level0 li.megacss
.childcontent{right:0px !important}#jux_memamenu100  #js-mainnav.megamenu .js-megamenu li.megacss
.childcontent{height:100% !important;margin:0
!important;position:relative;width:100% !important;overflow:visible !important;le}#jux_memamenu100  #js-mainnav.megamenu ul.level0 li a.haschild.megacss span.menu-title,#jux_memamenu100 #js-mainnav.megamenu ul.level0 li a.haschild-over.megacss span.menu-title{background:none !important;padding-left:0px !important}#jux_memamenu100  #js-mainnav.megamenu ul.level1 li.haschild, #jux_memamenu100 #js-mainnav.megamenu ul.level1 li.haschild-over{background:none !important}#jux_memamenu100  #js-mainnav.megamenu .childcontent-inner-wrap,#jux_memamenu100 #js-mainnav.megamenu .childcontent-inner, #jux_memamenu100 #js-mainnav.megamenu
.megacol{width:100% !important}#jux_memamenu100  #js-mainnav.megamenu
ul.megamenu{margin:0px
!important}#jux_memamenu100  #js-mainnav.megamenu .megacol,.childcontent-inner{border:none !important;float:none !important}#jux_memamenu100  #js-mainnav.megamenu ul.level0 li.haschild span.arrow-icon,#jux_memamenu100 #js-mainnav.megamenu ul.level0 li.haschild-over span.arrow-icon{display:block;float:right;position:absolute;right:2px;top:2px;z-index:99}#jux_memamenu100  #js-mainnav.megamenu ul.level0 li.haschild span.arrow-icon,#jux_memamenu100 #js-mainnav.megamenu ul.level0 li.haschild-over span.arrow-icon{display:block;cursor:pointer}#jux_memamenu100  #js-mainnav.megamenu ul.level0 li.haschild span.arrow-icon{background:url("../images/arrow_down.png") no-repeat scroll 100% 0px transparent !important;display:block !important;text-indent:9999px;width:40px;height:31px;border:0
none !important;padding:0
!important;margin:0
!important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important}#jux_memamenu100  #js-mainnav.megamenu ul.level0 li.haschild-over span.arrow-icon{background:url("../images/close.png") no-repeat scroll 100% 0 transparent;display:block !important;height:31px;text-indent:9999px;width:40px;padding:0
!important;margin:0
!important;border:0
none !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important}#jux_memamenu100  #js-mainnav.megamenu ul.level1 li.megacss span.arrow-icon{display:none}#jux_memamenu100  #js-mainnav.megamenu ul.level1 li.haschild span.arrow-icon,#jux_memamenu100 #js-mainnav.megamenu ul.level1 li.haschild-over span.arrow-icon{display:block;float:right;position:absolute;right:2px;top:2px;z-index:99}#jux_memamenu100  #js-mainnav.megamenu ul.level0 li.megacss.submenu-align-fullwidth{position:relative !important}#jux_memamenu100  #js-mainnav.megamenu.noJS ul.megamenu
li{padding:0
!important;border-bottom:1px solid rgba(255, 255, 255, 0.3);border-radius:0 !important}#jux_memamenu100  #js-mainnav.megamenu.noJS ul.megamenu li
a{position:relative}#jux_memamenu100  #js-mainnav.megamenu.noJS #css3-megaMenuToggle{display:block;border-radius:5px;padding:15px}#jux_memamenu100  #js-mainnav.megamenu.noJS:hover ul.megamenu
li{display:block}#jux_memamenu100  #js-mainnav.megamenu.noJS ul.megamenu li.haschild>div.childcontent{display:none}#jux_memamenu100  #js-mainnav.megamenu.noJS ul.megamenu li.haschild:hover>div.childcontent{display:block}#jux_memamenu100  #js-mainnav.megamenu.noJS ul.level0 li.megacss.haschild:hover>a.haschild:after{border-top-color:#fff}}